html {
    background-color: #f6f8f9;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: white;
    padding: 8px 16px;
}

body {
    margin: 0;
}

main {
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
}

#box-bottoni {
    background-color: white;
    margin-bottom: 4px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#box-bottoni button {
    border-radius: 3px;
    padding: 4px 8px;
}

#task {
    background-color: #14aaf5;
    border: 1px solid #14aaf5;
}

#section {
    background-color: white;
    border: 1px solid #dce0e2;
}

#box-testo {
    background-color: white;
    margin-bottom: 4px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.titoli {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
    margin-top: 20px !important;

}

.editorial {
    background-color: #00a3ec;

}

.goals {
    background-color: #ab5de6;

}

.categoria {
    border-radius: 21px;
    padding: 4px 8px;
    color: white;
    font-size: x-small;
}

.recruting {
    background-color: #2cc6ab;
}

.mobile {
    background-color: #ff9b00;
}

.website {
    background-color: #ec4a9d;
}

.sales {
    background-color: #a3d116;
}

#box-testo p {
    margin-top: 0;

}

.check {
    border: 1px solid #5bd3be;
    color: #5bd3be;
}

.cross {
    border: 1px solid #ff5251;
    color: #ff5251;
}

.riga {
    margin-bottom: 16px;
}

.icona {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;

    text-align: center;
    margin-right: 8px;
    font-size: small;
    line-height: 12px;
}
